# Session Files
twittergram/client.session*

# Database Files
*.sql*

# Python cache
__pycache__/

# VSCode settings
.vscode

# Config's files and useless stuff
config.py
twittergram/*.session*
locales/*/*/*.mo
*.db*